In [1]:
import pandas as pd

In [4]:
kek = pd.read_csv('Книга1.csv', sep = ';')
kek

,mag_ran,Unnamed: 1,ran_prob,Unnamed: 3,mag_real,real_prob,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,3.0,0.05732,0.047576,NaN,2.9,0.048120,NaN,NaN,NaN,NaN,NaN,NaN
1,3.1,0.05711,0.047401,NaN,2.4,0.046650,NaN,NaN,NaN,NaN,NaN,NaN
2,2.8,0.05596,0.046447,NaN,2.7,0.044870,NaN,NaN,NaN,NaN,NaN,NaN
3,2.9,0.05460,0.045318,NaN,3.1,0.044560,NaN,NaN,NaN,NaN,NaN,NaN
4,3.2,0.05387,0.044712,NaN,3.0,0.042360,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88,NaN,NaN,NaN,NaN,-3.6,0.000209,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,-3.8,0.000209,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,4.8,0.000209,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,-4.1,0.000209,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,4.9,0.000105,NaN,NaN,NaN,NaN,NaN,NaN