# Малютин Павел, ИТПЗ РАН

In [1]:
import pandas as pd
import math 
import dask.dataframe as dd
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
from numba import jit, njit
from sklearn.linear_model import LinearRegression
import random

# b-value calculating

In [2]:
'''чтение файла из директории проги
и устранение выбросов значений магнитуды округлением до 1 знака пз.'''
my_cat = pd.read_csv('./catalogues/DOUBLE_PREC_DD (2).csv', sep = ';') 
my_cat = my_cat.loc[my_cat.latitude > 38.7751667]
my_cat = my_cat.loc[my_cat.latitude < 38.8081667]
my_cat = my_cat.loc[my_cat.longitude > -122.778]
my_cat = my_cat.loc[my_cat.longitude < -122.733]
my_cat = my_cat.reset_index(drop = True)
my_cat.mag = round(my_cat.mag, 1)  
my_cat.SECOND = my_cat.SECOND.astype('int')
my_cat = my_cat.loc[my_cat['mag'] > 1.1]
my_cat = my_cat.reset_index(drop = True)
global N_tot 
N_tot = my_cat.shape
my_cat

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,latitude,longitude,depth,EH1,EH2,AZ,EV,mag,ID
0,1984,1,5,22,28,2,38.78798,-122.77681,1.663,0.016,0.015,82,0.021,2.6,1109586
1,1984,1,10,6,40,46,38.78415,-122.75795,1.134,0.018,0.011,158,0.023,1.4,1334
2,1984,1,10,16,7,36,38.78980,-122.77341,1.402,0.025,0.010,77,0.027,1.4,1109753
3,1984,1,13,16,54,19,38.78897,-122.77362,2.121,0.026,0.020,73,0.031,1.3,1109875
4,1984,1,14,3,52,25,38.78243,-122.76226,1.150,0.016,0.014,173,0.029,2.1,1109891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9555,2011,12,26,18,47,33,38.79207,-122.75521,2.075,0.010,0.007,50,0.009,1.7,71700500
9556,2011,12,29,7,48,17,38.77648,-122.75740,1.148,0.010,0.006,170,0.008,2.1,71702075
9557,2011,12,30,5,1,42,38.78675,-122.74343,2.123,0.006,0.005,12,0.004,1.5,71702715
9558,2011,12,31,2,14,36,38.80543,-122.74067,2.475,0.007,0.005,33,0.008,1.4,71703210
9559,2011,12,31,4,49,59,38.77868,-122.73950,1.774,0.017,0.009,176,0.011,1.3,71703275

In [9]:
n_ = np.load('n_.npy')
resultate = pd.read_csv('./results/nearest_dist_n_index.csv')
''''''
index_o_cn = resultate.Index_o_CN
closest_neigh = resultate.Closest_neigh
less_than_temp = []
for i in range(N_tot[0]-1,-1,-1):
    if closest_neigh[i] < 2.3:
        less_than_temp.append(i)

In [10]:
less_than_temp[1]

9547

In [11]:
my_cat = my_cat.drop(my_cat.index[less_than_temp]) 
my_cat = my_cat.reset_index(drop = True)

In [12]:

my_cat

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,latitude,longitude,depth,EH1,EH2,AZ,EV,mag,ID
0,1984,1,5,22,28,2,38.78798,-122.77681,1.663,0.016,0.015,82,0.021,2.6,1109586
1,1984,1,10,16,7,36,38.78980,-122.77341,1.402,0.025,0.010,77,0.027,1.4,1109753
2,1984,1,13,16,54,19,38.78897,-122.77362,2.121,0.026,0.020,73,0.031,1.3,1109875
3,1984,1,14,3,52,25,38.78243,-122.76226,1.150,0.016,0.014,173,0.029,2.1,1109891
4,1984,1,15,5,11,41,38.80199,-122.76981,1.969,0.017,0.013,152,0.025,1.6,1109969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,2011,12,26,18,47,33,38.79207,-122.75521,2.075,0.010,0.007,50,0.009,1.7,71700500
5549,2011,12,29,7,48,17,38.77648,-122.75740,1.148,0.010,0.006,170,0.008,2.1,71702075
5550,2011,12,30,5,1,42,38.78675,-122.74343,2.123,0.006,0.005,12,0.004,1.5,71702715
5551,2011,12,31,2,14,36,38.80543,-122.74067,2.475,0.007,0.005,33,0.008,1.4,71703210
5552,2011,12,31,4,49,59,38.77868,-122.73950,1.774,0.017,0.009,176,0.011,1.3,71703275

In [13]:
TIME_LIST = my_cat['YEAR'].astype(str)+ " " + my_cat['MONTH'].astype(str)+" " + my_cat['DAY'].astype(str)+ " " + my_cat['HOUR'].astype(str)+ " " + my_cat['MINUTE'].astype(str)+ " " + my_cat['SECOND'].astype(str)

In [14]:
random.shuffle(TIME_LIST)
my_cat['TIME'] = TIME_LIST

In [15]:
my_cat

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,latitude,longitude,depth,EH1,EH2,AZ,EV,mag,ID,TIME
0,1984,1,5,22,28,2,38.78798,-122.77681,1.663,0.016,0.015,82,0.021,2.6,1109586,1988 6 25 4 18 11
1,1984,1,10,16,7,36,38.78980,-122.77341,1.402,0.025,0.010,77,0.027,1.4,1109753,1995 1 29 20 49 11
2,1984,1,13,16,54,19,38.78897,-122.77362,2.121,0.026,0.020,73,0.031,1.3,1109875,2001 10 15 4 51 2
3,1984,1,14,3,52,25,38.78243,-122.76226,1.150,0.016,0.014,173,0.029,2.1,1109891,2003 4 28 15 50 7
4,1984,1,15,5,11,41,38.80199,-122.76981,1.969,0.017,0.013,152,0.025,1.6,1109969,1992 6 3 4 45 50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,2011,12,26,18,47,33,38.79207,-122.75521,2.075,0.010,0.007,50,0.009,1.7,71700500,2010 1 19 0 25 13
5549,2011,12,29,7,48,17,38.77648,-122.75740,1.148,0.010,0.006,170,0.008,2.1,71702075,2008 12 13 6 47 44
5550,2011,12,30,5,1,42,38.78675,-122.74343,2.123,0.006,0.005,12,0.004,1.5,71702715,2001 9 8 1 11 33
5551,2011,12,31,2,14,36,38.80543,-122.74067,2.475,0.007,0.005,33,0.008,1.4,71703210,1996 3 29 17 54 23
5552,2011,12,31,4,49,59,38.77868,-122.73950,1.774,0.017,0.009,176,0.011,1.3,71703275,1994 9 7 23 18 40

In [16]:
my_cat[['YEAR','MONTH','DAY','HOUR','MINUTE','SECOND']] = my_cat.TIME.str.split(expand=True)
my_cat

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,latitude,longitude,depth,EH1,EH2,AZ,EV,mag,ID,TIME
0,1988,6,25,4,18,11,38.78798,-122.77681,1.663,0.016,0.015,82,0.021,2.6,1109586,1988 6 25 4 18 11
1,1995,1,29,20,49,11,38.78980,-122.77341,1.402,0.025,0.010,77,0.027,1.4,1109753,1995 1 29 20 49 11
2,2001,10,15,4,51,2,38.78897,-122.77362,2.121,0.026,0.020,73,0.031,1.3,1109875,2001 10 15 4 51 2
3,2003,4,28,15,50,7,38.78243,-122.76226,1.150,0.016,0.014,173,0.029,2.1,1109891,2003 4 28 15 50 7
4,1992,6,3,4,45,50,38.80199,-122.76981,1.969,0.017,0.013,152,0.025,1.6,1109969,1992 6 3 4 45 50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,2010,1,19,0,25,13,38.79207,-122.75521,2.075,0.010,0.007,50,0.009,1.7,71700500,2010 1 19 0 25 13
5549,2008,12,13,6,47,44,38.77648,-122.75740,1.148,0.010,0.006,170,0.008,2.1,71702075,2008 12 13 6 47 44
5550,2001,9,8,1,11,33,38.78675,-122.74343,2.123,0.006,0.005,12,0.004,1.5,71702715,2001 9 8 1 11 33
5551,1996,3,29,17,54,23,38.80543,-122.74067,2.475,0.007,0.005,33,0.008,1.4,71703210,1996 3 29 17 54 23
5552,1994,9,7,23,18,40,38.77868,-122.73950,1.774,0.017,0.009,176,0.011,1.3,71703275,1994 9 7 23 18 40

In [17]:
b_value = 0.855
d_f = 2.08
M_0 = 1.1
 
N_tot = my_cat.shape

In [18]:
n_ = [[0] * N_tot[0] for i in range(N_tot[0])]
T_ = [[0] * N_tot[0] for i in range(N_tot[0])]

In [19]:
import datetime
year = my_cat.YEAR.to_numpy().astype(int)
month = my_cat.MONTH.to_numpy().astype(int)
day = my_cat.DAY.to_numpy().astype(int)
hour = my_cat.HOUR.to_numpy().astype(int)
minute = my_cat.MINUTE.to_numpy().astype(int)
second = my_cat.SECOND.to_numpy().astype(int)

In [20]:
@jit
def time_in_seconds (i, j):
    t_i = datetime.datetime(year[i], month[i], day[i], hour[i], minute[i], second[i])
    t_j = datetime.datetime(year[j], month[j], day[j], hour[j], minute[j], second[j])
    t_ij = (t_i - t_j).total_seconds()
    if t_ij == 0:
        return -0.1
    return -t_ij

In [21]:
for i in tqdm(range(N_tot[0]-1,-1,-1)):
    for j in range(i,-1,-1):
        T_[i][j] = -time_in_seconds(i,j)
        T_[j][i] = T_[i][j]

  0%|                                                 | 0/5553 [00:00<?, ?it/s]C:\Users\admin\AppData\Local\Temp\ipykernel_4456\1257614798.py:1: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "time_in_seconds" failed type inference due to: Unknown attribute 'datetime' of type Module(<module 'datetime' from 'C:\\Users\\admin\\anaconda3\\lib\\datetime.py'>)

File "..\..\..\AppData\Local\Temp\ipykernel_4456\1257614798.py", line 3:
<source missing, REPL/exec in use?>

During: typing of get attribute at C:\Users\admin\AppData\Local\Temp\ipykernel_4456\1257614798.py (3)

File "..\..\..\AppData\Local\Temp\ipykernel_4456\1257614798.py", line 3:
<source missing, REPL/exec in use?>

  @jit
C:\Users\admin\anaconda3\lib\site-packages\numba\core\object_mode_passes.py:151: NumbaWarning: Function "time_in_seconds" was compiled in object mode without forceobj=True.

File "..\..\..\AppData\Local\Temp\ipykernel_4456\1257614798.py", line 1:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaWarning(warn_msg,
C:\Users\admin\anaconda3\lib\site-packages\numba\core\object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "..\..\..\AppData\Local\Temp\ipykernel_4456\1257614798.py", line 1:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaDeprecationWarning(msg,
100%|██████████████████████████████████████| 5553/5553 [01:21<00:00, 68.19it/s]

In [22]:
global Pi2, RAD, FLAT
Pi2 = math.pi/2 # тупо пи-на-два
RAD = 0.01745329 # DGR -> RAD
FLAT = 0.993231 # поправка на эллипсоидноть
T_[1][2]

211708911.0

In [23]:
def eq_dist (fi1, la1, fi2, la2, d1, d2): # fi - широта (latitude), la - долгота (longtitude)
    '''Функция позволяет вычислять расстояение между двумя точками земли с учетом сплюсности и глубины'''    
    #if ((fi1-fi2)==0 and (la1-la2)==0): #проверка на расстояние между одним и тем же землетрясением
    #    return (0.0)  
    col1 = Pi2 - math.atan(FLAT * math.tan(fi1 * RAD))
    col2 = Pi2 - math.atan(FLAT * math.tan(fi2 * RAD))
    
    dlon =  la2 * RAD - la1 * RAD
    
    cosdel = math.sin(col1) * math.sin (col2) * math.cos(dlon) + math.cos(col1) * math.cos(col2)
    delr = math.acos(cosdel)
    colat = Pi2 - (fi1 * RAD + fi2 * RAD) / 2.0
    distan_eq =  math.sqrt((delr * 6371.227 * (1.0 + 0.00337853 * (1./3. -((math.cos(colat))*math.cos(colat)))))**2 + (d2-d1)**2)
    if distan_eq == 0:
        distan_eq = 0.01
    return distan_eq

In [24]:
latitude = my_cat.latitude.to_numpy()
longitude = my_cat.longitude.to_numpy()
depth = my_cat.depth.to_numpy()

In [25]:
array_of_dist = [[0] * N_tot[0] for i in range(N_tot[0])]

for i in tqdm(range((N_tot[0]))):
    for j in range(i+1, N_tot[0]):
        #array_of_dist.append(eq_dist(latitude[k], longitude[k], latitude[j], longitude[j], depth[k], depth[j]))
        array_of_dist[i][j] = eq_dist(latitude[i], longitude[i], latitude[j], longitude[j], depth[i], depth[j])
        array_of_dist[j][i] = array_of_dist[i][j]

100%|██████████████████████████████████████| 5553/5553 [02:08<00:00, 43.27it/s]

In [26]:
for i in tqdm(range(N_tot[0])):
    for j in range(i,N_tot[0]): #ВНИМАНИЕ - ХЗ ПОЧЕМУ ОТ И БЕРУ. ХОЧУ ПРОВЕРИТЬ
        if i == j:
            n_[i][j] = float('inf')
            n_[j][i] = float('inf')
            continue 
        n_[i][j] = abs(T_[i][j])*(array_of_dist[i][j]**d_f)*(10**((-b_value)*my_cat.mag[i]))
        n_[j][i] = n_[i][j]

100%|██████████████████████████████████████| 5553/5553 [04:28<00:00, 20.64it/s]

In [27]:
n_[7777][0]

IndexError: list index out of range

In [28]:
N = [0] * N_tot[0]
D = [0] * N_tot[0]
for i in range(len(n_)):
    D[i] = round(math.log10((min(n_[i][:]))),1)
    N[i] = n_[:][i].index(min(n_[i][:]))
resultate = pd.DataFrame({'Closest_neigh':D, 'Index_o_CN':N})

In [30]:
Dist_to_Nearest = resultate.Closest_neigh.value_counts(normalize=True)
from pathlib import Path  
filepath = Path('./results/nearest_dist_rand.csv')
Dist_to_Nearest.to_csv(filepath)